Project.ede
0x02-minoperations/##0-minoperations.py##
0x02-minoperations/__pycache__/0-minoperations.cpython-310.pyc
0x03-sandpiles/ *Minibuf-5*
0x03-sandpiles/# *Minibuf-5*#
0x03-sandpiles/0-main.c~
0x03-sandpiles/sandpiles
